.app {
  position: fixed;
  width: 100%;
  height: 100%;
  
  &__scroll-block {
    // position: fixed;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}