@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700,900');

#root, html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 16px;
  background: url('../img/bg.png');
  background-size: 4rem;
  color: #ffffff;
  // overflow-x: hidden;
  overflow-y: auto;
  min-width: 1200px;
}

body {
  min-width: 1200px;
}

ul, ol, li, p, a, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

@keyframes reduced {
  0% {
    background: linear-gradient(106deg, transparent 41.5%, rgba(232,137,129, 0.7) 56%,rgba(194,39,27, 0.7) 65%, transparent 81%) no-repeat;
    background-size: 115% 129%;
    color: #F61801;
    background-position: 800% 0%;
  }
  100% {
    background: linear-gradient(106deg, transparent 41.5%, rgba(232,137,129, 0.7) 56%,rgba(194,39,27, 0.7) 65%, transparent 81%) no-repeat;
    background-size: 115% 129%;
    color: #F61801;
    background-position: -800% 0%;
  }
}

@keyframes increase {
  0% {
    background: linear-gradient(106deg, transparent 41.5%,rgba(144,254,103, 0.7) 56%,rgba(90,255,13, 0.7) 75%, transparent 81%) no-repeat;
    background-size: 115% 129%;
    color: #7CB71D;
    background-position: 800% 0%;
  }
  100% {
    background: linear-gradient(106deg, transparent 41.5%,rgba(144,254,103, 0.7) 56%,rgba(90,255,13, 0.7) 75%, transparent 81%) no-repeat;
    background-size: 115% 129%;
    color: #7CB71D;
    background-position: -800% 0%;
  }
}

.coef-increased {
  animation: increase 1.7s ease-in;
}

.coef-reduced {
  animation: reduced 1.7s ease-in;
}

@mixin mq-font-by-max-width($fontSize, $maxWidth) {
  @media only screen and (max-width: $maxWidth) {
    html {
      font-size: $fontSize;
    }
  }
}

@include mq-font-by-max-width(19px, 2600px);
@include mq-font-by-max-width(16.7px, 2300px);
@include mq-font-by-max-width(14px, 1920px);
@include mq-font-by-max-width(13.5px, 1750px);
@include mq-font-by-max-width(13px, 1600px);
@include mq-font-by-max-width(12.4px, 1440px);
@include mq-font-by-max-width(11.5px, 1366px);

//Jivo
.label_39 {
  display: none;
}
