@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700,900');

#root, html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 16px;
}

ul, ol, li, p, a, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

@keyframes reduced {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #ff001a;
    transition: background-color 0.5s linear;
  }
  100% {
    background-color: #ffffff;
  }
}

@keyframes increase {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #5BFE0F;
    transition: background-color 0.5s linear;
  }
  100% {
    background-color: #ffffff;
  }
}

.coef-increased {
  animation: increase 2s linear;
}

.coef-reduced {
  animation: reduced 2s linear;
}

.button_1O {
  display: none !important;
}
