// @import 'shared/style/varDesktop.scss';

$dark-blue: #113B79;
$blue-gradient: linear-gradient(270deg, #154894 0%, #1A5BBB 90.31%);
$white: #ffffff;
$light-blue-gradient: linear-gradient(180deg, #93CBFF 0%, #268BE9 100%), #268BE9;
$blue-pizdec: #1853AB;
$border-blue: #1A5BBC;
$semi-light-blue: #268BE9;
$ultra-dark-blue: #002857;
$up-button-bg: #0B3362;
$subheader-gradient: linear-gradient(0deg, #0F3061, #1F3163), linear-gradient(270deg, #154894 0%, #1A5BBB 90.31%), #1A5BBA;
$green-gradient: linear-gradient(180deg, #5DDB52 0%, #01764C 100%);
$lightgrey-gradient: linear-gradient(180deg, #D8D8D8 0%, #EEEEEE 58.56%);
$slots-gradient: linear-gradient(90deg, #1A5BBC 5.6%, #063C8B 100%);
$livegames-gradient: linear-gradient(270deg, #e0e0e0 0%, #bababa 100%);
$subheader-color: #063B8B;
$slots-header-text-gradient: linear-gradient(180deg, #268BE9 0%, #0E5BB6 100%);
$profile-background: #EEEEEE;
$profile-menu-background: #09437F;
$grey-text: #818184;
$grey-border: #C4C4C4;
$green-gradient: linear-gradient(180deg, #5DDB52 0%, #01764C 100%);
$header-background: #0F3061;
$logo-background: #13366D;

$appScrollWidth: 6px;