// @import 'shared/style/varMobile.scss';

$blue-text:#1A5BBC;
$profile-background: #eeeeee;
$header-background: #0F3061;
$logo-background: #13366D;
$gradient: linear-gradient(270deg, #e0e0e0 0%, #bababa 100%);