.notification {
  display: block;
  width: 100%;
  height: 4rem;
  position: relative;
  z-index: 100;
  margin-top: 1rem;
  color: #878787;
  font-size: 1rem;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
  animation: 0.7s ease init;
  background: #ffffff;

  &_deleting {
    animation: 0.7s ease delete;
  }

  &__left {
    height: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
  }

  &__cross {
    display: block;
    width: 0.8rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  &__text {
    flex-grow: 2;
    box-sizing: border-box;
    padding: 0.5rem;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 4rem;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
  }

  &__wrapper_type {
    &_default {
      border-left: 5px solid #ffd800;
      background: rgba(255, 216, 0, 0.5);
    }

    &_error {
      border-left: 5px solid rgb(234, 9, 35);
      background: rgba(234, 9, 35, 0.5);
      color: white;
      & path {
        fill: white;
      }
    }

    &_success {
      border-left: 5px solid rgb(6, 221, 31);
      background: rgba(6, 221, 31, 0.5);
      color: #001777;
      & path {
        fill: #001777;
      }
    }
  }

  @keyframes init {
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes delete {
    0% {
      opacity: 1;
      transform: translateX(0);
      height: 4rem;
    }
    70% {
      opacity: 0;
      transform: translateX(10rem);
      height: 4rem;
    }
    100% {
      opacity: 0;
      transform: translateX(10rem);
      height: 0;
    }
  }
}