.button {
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.25);
  width: 100%;
  min-height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0 0.5rem;
  border: none;

  &:active {
    transform: translateY(2px);
  }
  user-select: none;
  text-align: center;

  &_colors {
    &_green {
      background: linear-gradient(180deg, #5DDB52 0%, #01764C 100%);
      &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #5DDB52 0%, #01764C 100%);
      }
    }
    &_blue {
      background: linear-gradient(180deg, #268BE9 0%, #0E5BB6 100%);
      &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #268BE9 0%, #0E5BB6 100%);
      }
    }
  }

  &_sizable {
    &_default {
      height: 100%;
    }
    &_low {
      height: 2.5rem;
    }
    &_high {
      height: 3rem;
    }
  }

  &_disable {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #5DDB52 0%, #01764C 100%);
    &:hover {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #5DDB52 0%, #01764C 100%);
      cursor: not-allowed;
    }
  }
}