@import "shared/style/varDesktop.scss";

.results {
  width: 100%;
  position: relative;

  &__header {
    height: 2.78rem;
    background: $slots-gradient;
    border: 1px solid $semi-light-blue;
  }

  &__header-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.14rem;
    text-transform: uppercase;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25);
    border-radius: 10px 10px 0px 0px;
    background: $slots-header-text-gradient;
  }

  &__main {
    background: linear-gradient(270deg, #E0E0E0 0%, #BABABA 100%), #002857;
  }
  &__favorites-link {
    width: 100%;
    height: 3rem;
    background: linear-gradient(180deg, #387fc2 0%, #095cd8 100%), linear-gradient(180deg, #1862a7 0%, #0f489e 100%), #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: 1rem;
    padding-right: 0.5rem;
  }
}

