.input {
  background: #FFF;
  border-radius: 10px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 2rem;
  outline: none;
  padding-left: 1rem;

  &_sizable {
    &_default {
      height: 100%;
    }
    &_low {
      height: 2rem;
    }
    &_high {
      height: 3rem;
    }
  }

  &_type {
    &_date {
      font-size: 0.75rem;
      font-family: 'Segoe UI', sans-serif;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
      }
    }
    &_one-click {
      border-radius: 0;
      width: 4rem;
      text-align: center;
      padding-left: 0;
      height: 2.1429rem;
    }
  }
}