@import 'shared/style/varDesktop.scss';

.select {
  width: 100%;
  border-radius: 1.1rem;
  border: 1px solid $grey-border;
  box-sizing: border-box;
  background: #ffffff;
  position: relative;
  user-select: none;

  &_open {
    border-radius: 1.1rem 1.1rem 0 0;
    border-bottom: none;
  }
  
  &__item {
    width: 100%;
    height: 2.125rem;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 1.0938rem;
    box-sizing: border-box;

    &:hover {
      background: #eeeeee;
    }

    &_current:hover {
      background: none;
    }
  }

  &__arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.5rem;
    right: 1rem;
    transition: transform .3s ease;
  }

  &__arrow-svg {
    height: 0.571rem;
    width: 0.857rem;

  }

  &_open &__arrow {
    transform: scaleY(-1);
  }

  &__items-list {
    position: absolute;
    top: 2.125rem;
    left: -1px;
    border: 1px solid $grey-border;
    border-top: none;
    border-radius: 0 0 1.1rem 1.1rem;
    background: #ffffff;
    width: 100%;
    z-index: 2;
    max-height: 21rem;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 3px;
      height: 90%;
      scroll-margin-right: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
      width: 3px;
      background: $grey-border;
      cursor: pointer;
    }
  }
}