.favorite-event {
    color: #000000;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 6rem;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    overflow: hidden;
    background: #FFFFFF;
    font-size: 0.85rem;
    box-sizing: border-box;
    &:not(:last-child) {
      margin-bottom: 0.28rem;
    }
    &__favorite{
      height: 4rem;
      width: 4rem;
      padding-left: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__icon {
      width: 1.6rem;
      min-width: 1.6rem;
      height: 1.6rem;
      margin-left: 0.8rem;
      padding-right: 0.8rem;
      margin-right: 0.8rem;
      border-right: #D0D0D0 2px solid;
    }
    &__title {
      width: 100%;
      display: flex;
      align-items: center;
    }
    &__teams {
      width: 75%;
      flex-grow: 2;
    }
    &__date {
      margin-left: auto;
      height: 100%;
      padding: 0 1rem;
      background: #EEEEEE;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      border-left: 1px solid #D0D0D0;
      border-right: 1px solid #D0D0D0;
      width: 6.125rem;
      font-size: 0.9rem;
    }
    &__date-date {
      white-space: nowrap;
    }
    &__date-time {
      font-size: 1.125rem;
    }
    &__teams {
      padding-left: 1.0625rem;
    }
    &__score {
      height: 100%;
      width: 10.5rem;
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 0 0.3rem;
      color: #268BE9;
      font-size: 0.875rem;
      font-weight: 500;
      text-align: center;
      overflow: hidden;
    }
    &__link{
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    &__favorite{
      height: 2rem;
      width: 2rem;
    }
    &__icon {
      width: 1.6rem;
      min-width: 1.6rem;
      height: 1.6rem;
      margin-left: 0.8rem;
      padding-right: 0.8rem;
      margin-right: 0.8rem;
      border-right: #D0D0D0 2px solid;
    }
    &__arrow-box {
      margin-left: auto;
      width: 1.4rem;
      min-width: 1.4rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.3rem;
      box-sizing: border-box;
      background: linear-gradient(180deg, #93CBFF 0%, #268BE9 100%);
      * {
        fill: #FFF;
      }
      svg {
        transform: rotate(180deg);
      }
    }
    &__arrow-icon {
      width: 100%;
    }
  }