.modal {
  width: 100%;
  height:  100%;
  position: fixed;
  background-color: rgba(19, 19, 19, 0.75);
  z-index: 1000;

  &__content-container {
    width: 90%;
    max-width: 30rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
