@import 'shared/style/varDesktop.scss';

.results-filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $profile-background;
  padding: 1.21rem 0;
  color: #000000;
  
  &__item {
    display: flex;
    width: 80%;
    font-size: 0.85rem;
    flex-direction: column;
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 0.571rem;
  }

  &__item-date {
    display: flex;
    width: 100%;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: left;
    align-items: center;
    margin-bottom: 0.571rem;
  }

  &__item-text {
    margin-right: 0.75rem;
    margin-bottom: 0.214rem;
    white-space: nowrap;
  }
  
  &__button {
    width: 45%;
    height: 2.5rem;
  }

  &__date-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    &-input {
      margin: 0 0.1875rem;

      & .react-date-picker {
        &__wrapper {
          background-color: #ffffff;
          border-radius: 0.3125rem;
          border-color: #C4C4C4;
        }

        & .react-date-picker__inputGroup__day {
          padding-left: 0.7rem;
        }
      }
    }
    margin-bottom: 1.375rem;
  }
}