.side-menu {
  width: 100%;
  height: 100%;
  background: #002857;
  color: #ffffff;
  padding: 0.875rem 1rem;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  overflow-y: auto;

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}