.set-odd-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  padding-bottom: 2.5rem;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  border-radius: 1rem;

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__title {
    margin-bottom: 0.5rem;
  }
  
  &__odds-list {
    border: 0.0625rem solid #C4C4C4;
    border-bottom: none;
    width: 75%;
  }

  &__odd {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: rgba(238, 238, 238, 0.9);
    border-bottom: 0.0625rem solid #C4C4C4;

    &_active {
      background-color: #1A5BBC;
      color: #fff;
    }
  }
}
