.favorites {
&__link {
    width: 100%;
    height: 3rem;
    background: linear-gradient(180deg, #387fc2 0%, #095cd8 100%), linear-gradient(180deg, #1862a7 0%, #0f489e 100%), #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    padding-right: 0.5rem;
  }
}