.switch-box {
  width: 2.5rem;
  height: 1rem;
  border-radius: 0.5rem;
  background: #1F61C4;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .2s ease-in;
  &_active {
    background: #FAB446;
    .switch-box__indicator {
      border-color: #FFE15A;
      background: linear-gradient(0deg, #FFE15A, #FFE15A), linear-gradient(217.48deg, #FFFFFF 10.49%, #FFFF00 43.82%, #FFB800 89.79%);
      transform: translateX(1.1rem);
    }
  }
  &__indicator {
    width: 1rem;
    height: 1rem;
    border: 0.2rem solid #268BE9;
    border-radius: 100%;
    background: linear-gradient(0deg, #268BE9, #268BE9), linear-gradient(226.27deg, #FFFFFF 22.03%, #034FC1 88.24%), linear-gradient(217.48deg, #FFFFFF 10.49%, #FFFF00 43.82%, #FFB800 89.79%);
    transition: all .2s ease-in;
  }
}