.results-tourney {
  width: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
  &__events {
    padding: 0.28rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}