.slide-out {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  &__menu {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 100%;
    top: 0;
    transition: all .3s ease;
    z-index: 100;
  }

  &_open &__menu {
    left: 20%;
  }
  
  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    will-change: transform;
  }
}